.aside {
    min-width: 320px;
    background-color: $color-light-grey;
    font-family: $font-titles;


    display: grid;
    grid-template-columns: 103px 144px 103px;
    grid-template-rows: 1fr 144px 144px 144px 5px;
    justify-content: center;
    row-gap: 15px;



    .aside__texts {
        grid-row: 1;
        grid-column-start: span 3;

        text-align: center;
        margin-top: 18px;
        //padding: 0px 11px;
        font-weight: bold;
        align-items: center;

        span {
            font-size: 12px;
        }

        h2 {
            font-size: 20px;
        }
    }

    .aside__item-1 {
        grid-column: 2;
        text-align: center;

        .aside__bottext {


            font-size: 14px;
            font-weight: bold;


        }



        .aside__imgs--imgs {

            //margin: 0px 103px;
            border-radius: 50%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            width: 120px;

        }




    }

    .aside__item-2 {
        grid-column: 2;
        text-align: center;

        .aside__bottext {


            font-size: 14px;
            font-weight: bold;


        }



        .aside__imgs--imgs {

            //margin: 0px 103px;
            border-radius: 50%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            width: 120px;

        }
    }

    .aside__item-3 {
        grid-column: 2;
        text-align: center;

        .aside__bottext {


            font-size: 14px;
            font-weight: bold;


        }



        .aside__imgs--imgs {

            //margin: 0px 103px;
            border-radius: 50%;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            width: 120px;

        }
    }




    .aside__button {

        grid-row: 5;
        grid-column-start: span 3;
        margin-left: 83px;


        width: 184px;
        height: 45px;


        font-family: $font-regular;
        font-size: 20px;
        font-weight: bold;


        padding: 8px 14px;
        border: 2px solid $color-moss-green;
        border-radius: 22.5px;
        background-color: $color-moss-green;

        &:hover {

            background-color: $color-greyish-brown;
            transform: scale(120%);
        }



        a {
            text-decoration: none;
            color: $color-white;
            padding: 10px;

        }



    }

    .aside__arrow {

        grid-row: 8;
        grid-column: 2;
        text-align: center;
        margin-left: 45px;
        background-color: $color-white;
        padding: 10px;
        border-radius: 50%;
        margin-bottom: 5px;
        height: 45px;
        width: 45px;
        transform: translateY(29px);



    }

}

@media screen and (min-width: 768px) {
    .aside {



        grid-template-columns: 170px 170px 170px;
        grid-template-rows: 1fr 160px 70px;

        padding: 0px;
        column-gap: 70px;
        align-items: center;
        row-gap: 0;

        .aside__item-1 {
            grid-column: 1;
            text-align: center;

            .aside__bottext {


                font-size: 18px;
                font-weight: bold;


            }





        }

        .aside__item-2 {
            grid-column: 2;
            text-align: center;

            .aside__bottext {


                font-size: 18px;
                font-weight: bold;


            }




        }

        .aside__item-3 {
            grid-column: 3;
            text-align: center;

            .aside__bottext {


                font-size: 18px;
                font-weight: bold;


            }




        }


        .aside__texts {

            grid-row: 1;
            grid-column-start: span 3;
            text-align: center;


            padding: 0px;
            font-weight: bold;



            span {
                font-size: 12px;
                line-height: 2.5;
                text-align: center;

            }

            h2 {
                font-size: 28px;
                line-height: 1.61;
                margin-bottom: 22px;
                text-align: center;

            }
        }



        .aside__button {

            grid-row: 3;
            margin: 227px;
            width: 184px;
            height: 45px;
        }

        .aside__arrow {

            margin-left: 55px;
            transform: translateY(29px);



        }



    }

}

@media screen and (min-width: 1200px) {
    .aside {



        grid-template-columns: 170px 170px 170px;
        grid-template-rows: 1fr 160px 70px;

        padding: 0px;
        column-gap: 150px;
        align-items: center;
        row-gap: 0;

        .aside__item-1 {
            grid-column: 1;
            text-align: center;

            .aside__bottext {


                font-size: 18px;
                font-weight: bold;


            }





        }

        .aside__item-2 {
            grid-column: 2;
            text-align: center;

            .aside__bottext {


                font-size: 18px;
                font-weight: bold;


            }




        }

        .aside__item-3 {
            grid-column: 3;
            text-align: center;

            .aside__bottext {


                font-size: 18px;
                font-weight: bold;


            }




        }


        .aside__texts {

            grid-row: 1;
            grid-column-start: span 3;
            text-align: center;


            padding: 0px;
            font-weight: bold;



            span {
                font-size: 12px;
                line-height: 2.5;
                text-align: center;

            }

            h2 {
                font-size: 28px;
                line-height: 1.61;
                margin-bottom: 22px;
                text-align: center;

            }
        }



        .aside__button {

            grid-row: 3;
            margin: 315px;
            width: 184px;
            height: 45px;
        }

        .aside__arrow {

            margin-left: 65px;
            transform: translateY(29px);



        }



    }

}