.footer {
    background-color: $color-greyish-brown;
    min-width: 320px;

    font-family: $font-regular ;
    color: $color-white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 0px 107px;
    align-items: center;
    text-align: center;
    gap: 20px;
    line-height: 1.88;
    font-size: 16px;



    .footer__navs {

        margin-top: 50px;

        .footer__navs--products {

            margin-bottom: 20px;
        }

        .footer__navs--rrss {}

        ul {
            list-style: none;

            a {
                text-decoration: none;
                color: $color-white;
            }

            a:hover {

                color: $color-moss-green;
            }
        }


    }

    .footer__copySlog {

        font-size: 14px;
        gap: 5px;
        font-weight: normal;
        margin-bottom: 30px;

        .footer__copySlog--heart {
            color: $color-moss-green;

        }
    }



}

@media screen and (min-width: 768px) {

    .footer {



        font-family: $font-regular ;
        color: $color-white;
        font-weight: bold;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        gap: 100px;
        text-align: left;
        line-height: 1.88;
        font-size: 16px;
        padding-bottom: 36px;


        .footer__navs {
            margin-top: 60.5px;
            display: flex;
            gap: 100px;


            .footer__navs--products {

                margin-bottom: 20px;
            }




        }

        .footer__copySlog {

            font-size: 14px;
            font-weight: normal;


            .footer__copySlog--heart {
                color: $color-moss-green;

            }
        }


    }



}