.footer {
    background-color: $color-greyish-brown;
    min-width: 320px;

    font-family: $font-regular ;
    color: $color-white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 0px 107px;
    align-items: center;
    text-align: center;
    gap: 20px;
    line-height: 1.88;
    font-size: 16px;

    ul {
        list-style: none;

        li:hover {

            color: $color-moss-green;
        }
    }

    .footer__products {
        margin-top: 60.5px;
    }

    .footer__rrss {}

    .footer__copySlog {

        font-size: 14px;
        gap: 5px;
        font-weight: normal;
        margin-bottom: 30px;

        .footer__copySlog--heart {
            color: $color-moss-green;

        }
    }



}