.section {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/cover.jpeg);


    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;

    text-align: center;


    .section__textarea {


        margin-top: 297px;
        color: $color-white;

        padding: 0px 42.5px 0px 42.5px;


        .section__textarea--h2 {

            font-size: 30px;
            margin-bottom: 10px;
            font-family: $font-titles;
            line-height: 1.67;



        }

        .section__textarea--h3 {

            font-size: 16px;
            margin-bottom: 10px;
            font-family: $font-regular;
            line-height: 1.19;


        }
    }




    .section__icon {

        background-color: $color-white;
        padding: 10px;
        border-radius: 50%;
        margin-bottom: 58px;


    }

}

@media screen and (min-width: 768px) {
    .section {


        .section__textarea {

            .section__textarea--h2 {

                font-size: 70px;
                line-height: 1.33;



            }

            .section__textarea--h3 {

                line-height: 1.17;
                font-size: 24px;
                margin-bottom: 20px;
                padding: 0px 205px;


            }
        }

        .section__icon {

            padding: 13px;
            border-radius: 50%;
            margin-bottom: 22px;

        }

    }
}