.section {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/images/cover.jpeg);


    background-size: 100vw;
    background-repeat: no-repeat;

    text-align: center;


    &__textarea {

        margin-top: 230px;
        color: $color-white;
        padding: 0px 42.5px 0px 42.5px;

        &--h2 {

            font-size: 30px;
            margin-bottom: 10px;
            font-family: $font-titles;
            line-height: 1.67;
        }

        &--h3 {

            font-size: 16px;
            margin-bottom: 10px;
            font-family: $font-regular;
            line-height: 1.19;
        }
    }

    &__icon {

        background-color: $color-white;
        padding: 10px;
        border-radius: 50%;
        margin-bottom: 58px;
    }

}

@media screen and (min-width: 768px) {
    .section {
        &__textarea {

            &--h2 {

                font-size: 75px;
                line-height: 1.33;
                padding: 0px 200px;
            }

            &--h3 {

                line-height: 1.17;
                font-size: 24px;
                margin-bottom: 20px;
                padding: 0px 205px;
            }
        }

        &__icon {

            padding: 13px;
            border-radius: 50%;
            margin-bottom: 22px;

        }

    }
}

@media screen and (min-width: 1200px) {
    .section {


        &__textarea {

            &--h2 {

                font-size: 75px;
                line-height: 1.33;
                padding: 0px 200px;
            }

            &--h3 {

                line-height: 1.17;
                font-size: 24px;
                margin-bottom: 40px;
                padding: 0px 290px;
            }
        }

        &__icon {

            padding: 13px;
            border-radius: 50%;
            margin-bottom: 44px;
        }

    }
}