.section_2 {
    min-width: 320px;
    margin-top: 34px;
    padding: 0px 13px;

    &__textblock {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: $font-regular;

        font-weight: bold;

        &--span {


            color: $color-moss-green;
            font-size: 14px;

        }

        &--h2 {

            font-family: $font-titles;
            font-size: 22px;
            line-height: 1.36;

        }

        &--p {
            font-size: 18px;
            line-height: 1.67;
        }

    }

    &__buyButton {

        width: 160px;
        height: 45px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 42px;
        font-family: $font-regular;
        font-size: 20px;
        font-weight: bold;


        padding: 10px 14px;
        border: 2px solid $color-moss-green;
        border-radius: 22.5px;

        margin-bottom: 30px;
        transition: margin-left 2s;

        &:hover {


            transform: scale(120%);
            margin-left: 30px;
        }

        a {
            text-decoration: none;
            color: $color-moss-green;


        }

    }


}

@media screen and (min-width: 768px) {
    .section_2 {

        padding: 0px 38px;

        &__textblock {


            &--span {

                font-size: 16px;

            }

            &--h2 {


                font-size: 32px;


            }

            &--p {
                font-size: 20px;

            }

        }

        &__buyButton {


            margin-top: 22px;


            margin-bottom: 60px;



        }


    }

}

@media screen and (min-width: 1200px) {
    .section_2 {

        padding: 0px 170px;

        &__textblock {


            &--span {

                font-size: 16px;

            }

            &--h2 {


                font-size: 32px;


            }

            &--p {
                font-size: 20px;

            }

        }

        &__buyButton {


            margin-top: 22px;


            margin-bottom: 60px;



        }


    }

}