<aside class="aside" id="aside">

    <div class="aside__texts">

        <span>¡Prepáralos con tus marcas favoritas!</span>
        <h2>VUELTA AL COLE</h2>
    </div>

    <section class="aside__gridItems">
        <div class="aside__gridItems--item-1">
            <img src="/images/lpbts-mod05-img01-desk.png" alt="" class="gridItems__img">
            <span class="gridItems__bottext">Mochilas escolares
        </div>

        </span>

        <div class="aside__gridItems--item-2">
            <img src="/images/lpbts-mod05-img03-mob.png" alt="" class="gridItems__img">
            <span class="gridItems__bottext">Estuches</span>
        </div>



        <div class="aside__gridItems--item-3">
            <img src="./images/lpbts-mod05-img04-mob.png" alt="img nene" class="gridItems__img">
            <span class="gridItems__bottext">Bolsas de deporte</span>

        </div>
    </section>

    </div>
    <div class="aside__button">

        <a href="">Empezar ahora</a>

    </div>
    <a class="aside__arrow" href="#section"><img src="/images/ico-arrow.svg" alt="fsdf"> </a>






</aside>