<aside class="aside">

    <div class="aside__texts">

        <span>¡Prepáralos con tus marcas favoritas!</span>
        <h2>VUELTA AL COLE</h2>
    </div>
    <div class="aside__imgs">
        <img src="/images/lpbts-mod05-img01-desk.png" alt="" class="aside__imgs--imgs">
    </div>
    <span class="aside__bottext">Mochilas escolares
    </span>

    <div class="aside__imgs">
        <img src="/images/lpbts-mod05-img03-mob.png" alt="" class="aside__imgs--imgs">
    </div>

    <span class="aside__bottext">Estuches</span>

    <div class="aside__imgs">
        <img src="/images/lpbts-mod05-img04-mob.png " alt="" class="aside__imgs--imgs">
    </div>

    <span class="aside__bottext">Bolsas de deporte</span>

    </div>
    <div class="aside__button">

        <a href="">Empezar ahora</a>

    </div>


</aside>