<footer class="footer">


    <nav class="footer__products">
        <ul>
            <li><a href=""></a>ZAPATILLAS</li>
            <li>ROPA</li>
            <li>NIÑO/A</li>
            <li>DESTACADOS</li>
            <li>TIPS</li>
        </ul>
    </nav>
    <nav class="footer__rrss">
        <ul>
            <li>TWITTER</li>
            <li>INSTAGRAM</li>
            <li>YOUTUBE</li>


        </ul>
    </nav>
    <div class="footer__copySlog">
        <span>&copy;2023</span>
        <p>we <span class="footer__copySlog--heart">❤︎</span> run</p>
    </div>

</footer>