<section class="section_3" id="aside">

    <div class="section_3__texts">

        <span>¡Prepáralos con tus marcas favoritas!</span>
        <h2>VUELTA AL COLE</h2>
    </div>

    <section class="section_3__gridItems">
        <div class="section_3__gridItems--item-1">
            <img src="/images/lpbts-mod05-img01-desk.png" alt="backpack girl" class="gridItems__img">
            <span class="gridItems__bottext">Mochilas escolares
        </div>

        </span>

        <div class="section_3__gridItems--item-2">
            <img src="/images/lpbts-mod05-img04-mob.png" alt="pencil case kid" class="gridItems__img">
            <span class="gridItems__bottext">Estuches</span>
        </div>



        <div class="section_3__gridItems--item-3">
            <img src="./images/lpbts-mod05-img03-mob.png" alt="sport bag kid" class="gridItems__img">
            <span class="gridItems__bottext">Bolsas de deporte</span>

        </div>
    </section>

    </div>
    <div class="section_3__button">

        <a href="">Empezar ahora</a>

    </div>
    <a class="section_3__arrow" href="#section"><img src="/images/ico-arrow.svg" alt="start arrow button"> </a>






</section>